<section>
  <header class="row" style="display:flex; flex-direction:row">
    <div class="sidebar">
      <a href="#"> <img src="assets/images/w.png" /> </a>
    </div>
    <div class="content">
      <div class="content-header">
        <a href="#" class="current-btn"> <span>New York</span> </a>
        <a href="#" class="btn-group"> <span>Delaware</span> </a>
      </div>
      <!-- <div class="drop-dwn">
                <div class="avatar">
                    <img src="assets/images/user.svg">
                </div>
                <div class="username">
                    <span>Yrys</span>
                    <span>100$</span>
                </div>
                <div class="indicator">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div> -->
      <div>
        <div class="drop-dwn-open drop-dwn">
          <div class="avatar"><img src="assets/images/user.svg" /></div>
          <div class="username"><span>Yrys</span> <span>100$</span></div>
          <div class="indicator"><i class="fas fa-angle-down"></i></div>
        </div>
        <div>fdvd</div>
      </div>
    </div>
  </header>
</section>
